.layout {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 960px;
  flex: 1;
}

@media screen and (max-width: 960px) {
  .layout {
    padding: 0 1rem;
    box-sizing: border-box;
  }
}

.main {
  flex: 1;
  padding: 4rem 0;
}

.main img {
  max-width: min(75vw, 480px);
  height: auto;
  margin-inline-end: 1rem;
  margin-block-end: 1rem;
}

.small {
  display: inline-block;
  font-size: 0.75rem;
  margin: 0 0.5rem;
  opacity: 0.5;
}

.coffeeButton {
  filter: grayscale(0.5);
  transition: filter 0.2s ease-in-out;
}

.coffeeButton:hover {
  filter: grayscale(0);
}
