:root {
  --colorBackgroundPrimary: hsl(0, 100%, 100%);
  --colorBackgroundCode: hsl(0, 100%, 90%);
  --colorBorder: hsl(0, 0%, 40%);
  --colorFontPrimary: hsl(0, 0%, 0%);
  --colorFontSecondary: hsl(0, 0%, 20%);
  --colorFontTertiary: hsl(0, 0%, 40%);
  --colorFontLink: hsl(182, 95%, 40%);
  --colorFontLinkHover: hsl(182, 95%, 45%);
  --colorFontLinkVisited: hsl(182, 95%, 30%);
  --colorFontCode: hsl(40, 100%, 50%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --colorBackgroundPrimary: hsl(0, 0%, 12%);
    --colorBackgroundCode: hsl(0, 0%, 8%);
    --colorBorder: hsl(0, 0%, 60%);
    --colorFontPrimary: hsl(0, 100%, 100%);
    --colorFontSecondary: hsl(0, 0%, 80%);
    --colorFontTertiary: hsl(0, 0%, 60%);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  color: var(--colorFontSecondary);
  background-color: var(--colorBackgroundPrimary);
  font-size: 16px;
  line-height: 1.5rem;
}

body {
  margin: 10vh 0;
  min-height: 80vh;
}

a {
  color: var(--colorFontLink);
  transition: color 0.05s ease-in-out;
}

a:visited {
  color: var(--colorFontLinkVisited);
}

a:hover,
a:active {
  color: var(--colorFontLinkHover);
}

h1,
h2,
h3 {
  margin: 2em 0 1em;
  color: var(--colorFontPrimary);
}

strong {
  color: var(--colorFontPrimary);
}

h1 {
  margin-block-start: 1em;
  font-size: 4rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin: 1em 0;
}

blockquote {
  margin: 2rem 0;
  padding: 0.25rem 2rem;
  border-left: 0.25rem solid var(--colorFontPrimary);
}

li {
  margin-block-end: 0.25em;
}

code {
  padding: 0 0.5em;
  display: inline-flex;
  background-color: var(--colorBackgroundCode);
  color: var(--colorFontCode);
  border-radius: 0.25em;
  overflow: hidden;
  font-size: 1em;
}

hr {
  margin: 2em 0;
  height: 1px;
  border: 0;
  border-bottom: 1px solid var(--colorBorder);
  opacity: 0.25;
}
